node_modules/
dist/
__pycache__/
*.pyc
.env
.DS_Store
.idea/
*.db
backend/app/api/checkpoints.db
backend/app/rag/chroma_db/

# 只保留根目录 README.md，忽略其他所有 md 文件
*.md
!README.md
backend/app/rag/chroma_db_turns/
package-lock.json
frontend/package-lock.json
